{{ partial "header.html" .}}

<style>
h1 {
    text-align: center;
}
</style>
<div class="container">
        <div class="row">
            <div class="col-md-6 offset-md-3">
                <h1>Oops, page not found</h1>
                <p>
                
                    Maybe these links will help you? Otherwise please 
                    <a href="https://gitlab.com/kicad/services/kicad-website/issues/new">tell us on GitLab</a>.
                </p>
                <ul class="col-md-offset-1">
                    <li><p><a href="/">Home page</a> introduction,</p></li>
                    <li><p>Installation steps on the <a href="/download/">download</a> page,</p></li>
                    <li><p><a href="/help/documentation/#_getting_started">Getting started</a> tutorial,</p></li>
                    <li><p><a href="https://forum.kicad.info/">Support forums</a>.</p></li>
                </ul>
            </div>
        </div>
	</div>
</div>

{{ partial "footer.html" .}}
